@using Microsoft.AspNet.Identity

<style>
    .MyActionLink {
        color: white;
    }
    .MyActionLink:active {
        color: whitesmoke;
    }
</style>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-brand MyActionLink navbar-right">
        <li style=" color:white;">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "MyActionLink" })
        </li>
        <li class="MyActionLink"><a href="javascript:document.getElementById('logoutForm').submit()" style=" color:white; padding-left: 1em">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { @class = "navbar-brand" }, htmlAttributes: new { id = "registerLink", @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { @class = "navbar-brand" }, htmlAttributes: new { id = "loginLink", @class = "navbar-brand" })</li>
    </ul>
}
