@model Indelible.Models.Document

@{
    ViewBag.Title = "Download";
}

<h2>Your file has been downloaded!</h2>

<h4>Thank you for using Indelible!</h4>
<br />
<h5>The hash of the document retrieved is: @Model.Hash</h5>
<br />
<h5>If you have any questions about the authenticity of the document, please save this hash and check it against the hash of the document you were trying to download.</h5>
<p>
    @Html.ActionLink("Back to List", "Index", new { UserName = Model.UserName })
</p>

