@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INDELIBLE</h1>
    <p class="lead">Indelible is a platform for uploading and sharing documents in a fully secure and decentralized way</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To begin using Indelible, simply create a new account and begin uploading documents!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Blockchain</h2>
        <p>Indelible uses IPFS and blockchain technology to store your documents, meaning they'll always be available to you.</p>
    </div>
    <div class="col-md-4">
        <h2>Sharing</h2>
        <p>You can easily share your documents by emailing a download link through the site!</p>
    </div>
</div>